@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Подтверждение регистрации";
}
<div class="container">

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p>
     <a id="confirm-link" href="@Model.EmailConfirmationUrl">Нажмите здесь для поддтеверждения регистрации</a>
</p>
    }
    else
    {
<p>
        Пожалуйста, проверьте свою почту и подтвердите регистрацию.
</p>
    }
}

</div>