@model Petsitter.Models.PetType

@{
    ViewData["Title"] = "Add Pet Type";
}

<h1>Добавить новый вид животного</h1>
<div class="container">
    <form asp-action="AddPetType" method="post">
        <div class="form-group">
            <label asp-for="PetType1" class="control-label"></label>
            <input asp-for="PetType1" class="form-control" />
            <span asp-validation-for="PetType1" class="text-danger" style="width:200px"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Добавить" class="btn btn-primary" />
        </div>
    </form>
</div>