@{
    ViewData["Title"] = "Chat with " + @ViewData["FirstName"];
}

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h1 class="text-center">Chat with @ViewData["FirstName"]</h1>

            <span>Name = </span><br />
            <input type="text" id="txtUser" /><br />
            <span>Message: </span>
            <textarea rows="10" cols="50" id="txtMsg"></textarea><br />
            <button type="submit" class="btn btn-info" id="btnSendMsg">Send</button>
        </div>
        <div class="col-md-6">
            <h3>Messages: </h3>
            <ul id="list" class="alert alert-info"></ul>
        </div>
    </div>
</div>

@{
    ViewData["SitterID"] = @ViewData["SitterID"];
}

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/site.js"></script>
}
