@model IEnumerable<Petsitter.ViewModels.BookingVM>

@{
    ViewData["Title"] = "Announcement";
}

@if (Model.Count() == 0)
{
    <p class="mt-4">You haven't posted any ads yet! You can leave a request <a asp-action="ViewCreateBooking">here</a> .</p>
}
else
{
    <hr />
    <div class="list-of-bookings">
        @foreach (var item in Model.Where(b => b.SitterId == 1)) 
        {
            <section class="booking-section">

                <div style="font-weight: bold;">@Html.DisplayFor(modelItem => item.StartDate) - @Html.DisplayFor(modelItem => item.EndDate)</div>
                
                <div class="pb-2">
                    <a asp-action="BookingDetailsAnnouncement" asp-route-bookingID="@item.BookingId" class="text-white mx-auto btn" style="background:#a1a3f6; box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);">See Booking Details</a>
                </div>
                <hr />
            </section>
        }
    </div>
}
