@{
    ViewData["Title"] = "No Permission";
}
<div class="container">

<section>
    <p>You do not have permission to view this page.</p>
    <p>If you have any questions, please reach out to our admin team <a href="mailto:ssdteamgreen@gmail.com">here.</a></p>
</section>
</div>