* {
    font-family: 'Montserrat', sans-serif;
}

p, span, a {
    font-family: 'Lena', sans-serif;
}

body {
    background-color: #E1E1E0;
   
}

header {
    padding: 20px 20px;
}

html {
  font-size: 14px;
}
.navbar {
    border-radius: 100px;
    padding: 20px 20px;
    width: 60%;
    height: 50px;
    box-shadow: 0 0 50px -10px rgba(151, 71, 255, 0.08);
    background: #fff;
    margin: auto auto 0 auto;

}

.navbar-toggler {
    margin-right: 10px;
}

.navbar-collapse {
    display: flex;
    justify-content: flex-end;
}

.navbar-nav {
    align-items: center;

}

.nav-item {
    margin-right: 15px;
}

.navbar-brand {
    order: -1;
    align-items: center;
}

.petsitterLogo {
    width: 175px;
    max-width: none;
}

.register-button,
.login-button,
.btn {
    border-radius: 40px;
    padding: 12px 24px;
    width: 99px;
    height: 30px;
    background: #90ad90;
    color: white;
}
.logo {
    color: #3d342e;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: normal;
    margin: 0 0 0 auto;
}

.nav-item a:hover{
    text-decoration: underline;
}

@media screen and (max-width: 1440px) {
    .navbar {
        padding: 20px 20px;
        width: 100%;
        margin: auto auto 0 auto;
    }
    .storeTitle {
        padding: 20px 20px;
        width: 100%;
        margin: auto auto 0 auto;
    }


}

@media screen and (max-width: 1024px) {
    html {
        font-size: 16px;
    }
}

@media screen and (max-width: 600px) {
    html {
        font-size: 14px;
    }
}

    html {
        position: relative;
        min-height: 100%;
    }

    img {
        max-width: 100%;
        height: auto;
    }

    .petsitterLogo {
        width: 175px;
        max-width: 100%;
    }

    .menuPic {
        width: 75px;
        max-width: 100%;
    }

.text-start {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}


.h1-pet {
    width:400px;
    font-weight: 530;
    font-size: calc(75px + (10 - 6) * ((100vw - 1024px) / (600 - 1024)));
    line-height: 100%;
    color: #90ad90;
}

.btnPetMainPage {
    border: hidden;
    border-radius: 139px;
    width: 160px;
    height: 70px;
    background: #90ad90;
    font-size: calc(50px + (10 - 6) * ((100vw - 1024px) / (600 - 1024)));
    color: white;
}

.btn-wrapper {
     display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
  
    
}

.logo {
    color: #3d342e;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: normal;
    margin: 0 0 0 auto;
}

.wrapper {
}

.wrapperMain {
    padding: 20px 20px;
}

.storeTitle {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    padding: 150px 20px 0px 20px;
    margin: auto auto 0 auto;
    width: 60%;
}


    .webBriefDescription {
        /*    width: 400px;
    min-width: 400px;*/
        align-items: center;
    }

    .wrapper .btn {
        border: solid 1px #6366F1;
        color: white;
        background-color: #6366F1;
        padding: 10px 30px;
        border-radius: 20px;
        text-decoration: none;
    }

    .green-button {
        background-color: lightgreen;
        color: white;
        padding: 10px 20px;
        border: none;
        text-decoration: none;
    }

    .petsitterBrief {
        /*    width: 500px;
*/ width: 100%;
        height: auto;
    }

    .adv {
        justify-content: center;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .howItWorks {
        height: auto;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        flex-shrink: 0;
        gap: 20px;
    }

    .PicHowItWorks {
        width: 400px;
    }

    .PicHowItWorksimg {
        width: 110%
    }

    li {
        list-style-type: none;
    }

    .wayOfHowItWorks {
        display: flex;
        justify-content: space-between;
    }

        .wayOfHowItWorks li {
            width: 33% !important;
            text-decoration: none;
        }

    @media (max-width: 600px) {
        .wayOfHowItWorks li {
            width: auto !important;
            text-decoration: none;
        }
    }


    legend {
        font-size: 1.2rem;
        font-weight: 700;
    }

        legend::before {
            content: "1";
            display: inline-block;
            width: 2.3rem;
            height: 2.3rem;
            line-height: 2.3rem;
            color: white;
            background: #808080;
            border-radius: 50%;
            text-align: center;
            vertical-align: middle;
            margin: 0 8px 0 5px;
            position: relative;
            bottom: 0.1rem;
        }

    li:nth-of-type(2) legend::before {
        content: "2";
    }

    li:nth-of-type(3) legend::before {
        content: "3";
    }

    .howItWorks p {
        margin-left: 20px;
    }

    .getStartedbtn {
        margin-bottom: 20px;
    }

    .wayToHireacceptProfessionalCleaner {
        text-align: center;
        margin-top: 20px;
    }

    .hireAProfessionalCleaner {
        /*    display: flex;
justify-content: space-between;
gap: 20px;*/
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px 80px;
        justify-items: center;
        place-items: center;
    }

    .item-a {
        grid-column: 1/2;
        grid-row: 1/2
    }

    .item-b {
        grid-column: 1/2;
        grid-row: 2/3;
    }

    .item-c {
        grid-column: 1/2;
        grid-row: 3/4;
    }

    .item-d {
        grid-column: 2/3;
        grid-row: 1/2
    }

    .item-e {
        grid-column: 2/3;
        grid-row: 2/3;
    }

    .item-f {
        grid-column: 2/3;
        grid-row: 3/4;
    }


    .item-g {
        grid-column: 3/4;
        grid-row: 1/2
    }

    .item-h {
        grid-column: 3/4;
        grid-row: 2/3;
    }

    .item-i {
        grid-column: 3/4;
        grid-row: 3/4;
    }

    /* The switch - the box around the slider */
    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

        /* Hide default HTML checkbox */
        .switch input {
            opacity: 0;
            width: 0;
            height: 0;
        }

    /* The slider */
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #90ad90;
        -webkit-transition: .4s;
        transition: .4s;
        display: flex;
        align-items: center;
        justify-content: center;
    }

        .slider:before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: #d0c4aa;
            -webkit-transition: .4s;
            transition: .4s;
        }

    input:checked + .slider {
        background-color: #90ad90;
        transition: opacity 0.5s;
    }

    input:focus + .slider {
        box-shadow: 0 0 1px #90ad90;
    }

    input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }

    /* Rounded sliders */
    .slider.round {
        border-radius: 34px;
        color: white;
    }

        .slider.round:before {
            border-radius: 50%;
        }

    .FindPetsitter {
        height: auto;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }


    @media (max-width: 600px) {
        .wayOfHowItWorks {
            flex-direction: column
        }

        .hireAProfessionalCleaner {
            display: flex;
            justify-content: center;
            flex-direction: column;
            margin-left: 100px;
            margin-right: 100px;
        }

            .hireAProfessionalCleaner img {
                object-fit: cover;
                align-self: center;
            }

        .medialocation, .mediaHireYouTerm, .mediaPersonalized {
            display: flex;
            justify-content: center;
            flex-direction: column;
            flex-wrap: wrap;
        }
    }
